/*Colors*/
:root {
  /*Basic colors*/
  --basic-black: #000000;
  --background-blue: #293449;
  --basic-white: #FFFFFF;
  --basic-red: #EE3643;
  --red-shadow: rgba(0, 0, 0, 0.24);
  --basic-green: #63A63E;
  --background-lighter-blue: #32425C;
  --light-grey: rgba(0, 0, 0, 0.0001);
  --lighter-blue-shadow: #293449;
  --basic-orange: #FFBF47;
  --very-light-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --light-green: #8ED78F;
  --light-orange: #FFC047;
  --white-background: rgba(0, 0, 0, 0.0001);
  --milk-white: #F9F5F0;
  --blue-grey: #F1F5F7;
  --very-light-orange: #FFD180;
  --grey: #C5C5C5;
  --medium-grey: #D7DCDE;
  --dark-grey: #ABABAB;
  --light-beige: #F7F3EC;
  --light-blue-grey: #F3F7F9;
  --lighter-blue-grey: #F2F6F8;
  --green-shadow: #367315;
  --very-light-grey: #E5E5E5;
  --lighter-grey: #F4F4F4;
  /*Special colors*/
  --dark-green: #5FBB2D;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --darker-blue: #161D29;
  --darker-grey: #3D546F;
  --dark-blue: #293449;
  --darkest-blue: #1D2739;
  --light-dark-grey: #A9A9A9;
  --dark-red: #CA2C37;
  --darkest-red: #BA2732;
  --darkest-green: #518534;
  --transparent-grey: rgba(197, 197, 197, 0.3);
  --transparent-light-dark-grey: rgba(169, 169, 169, 0.3);
  --transparent-white-3: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --white-grey: #EAEAEA;
  --dark-background-blue: #212A3A;
  --bright-green: #00ca74;
}

body, header, footer {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page {
  height: 100%;
  margin: 0 0;
}

a {
  text-decoration: none;
}

p, h1, h2, a, h3, h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/*Верх шапки*/

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header-top {
  color: var(--basic-white);
}

/*Ссылки в шапке*/

.header-links {
  padding-inline-start: 0;

}

.header-links li a {
  position: relative;
  display: inline-block;
  line-height: 42px;
}

.header-link-comfirm {
  line-height: 42px;
  display: inline-block;
  padding: 0 19px;
}

.search-line {
  position: relative;
}

.header-link {
  color: var(--basic-white);
}

.header-links li {
  list-style-type: none;
  display: inline;
}


.marks{
  padding-left: 43px;
  padding-right: 24px;
}

.cart{
  padding-left: 49px;
  padding-right: 26px;
}

.header-links li .confirm {
padding: 0;
}

 .cart-header a:focus,.marks-header a:focus {
  background-color: var(--darker-blue);
  color: var(--transparent-white);
}
.cart-header a:hover,.marks-header a:hover{
  background-color: var(--darkest-blue);
}
.confirm:hover {
  background-color: var(--dark-green);
}

.confirm:focus {
  background-color: var(--basic-green);
  color: var(--transparent-white);
}

.confirm {
  background-color: var(--basic-green);
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Средняя часть шапки*/

.header-middle a {
  color: var(--basic-black);
}

.header-middle ul {
  list-style-type: none;
}

.header-description {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  height: 71px;
  width: 197px;
  margin: 0;
  margin-left: 30px;
  margin-top: 46px;
}

.header-info {
  color: var(--background-lighter-blue);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-block-start: 0;
  margin-top: 6px;
}

.header-tel a {
  color: var(--basic-red);
  position: relative;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  margin-left: 29px;
}

.header-tel {
  outline: 3px solid var(--basic-white);
  outline-offset: -1px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 267px;
}

.login {
  background-color: var(--basic-white);
  height: 45px;
  width: 121px;
  vertical-align: middle;
  margin-top: 46px;

}

.registration {
  background-color: var(--basic-white);
  height: 45px;
  width: 150px;
  vertical-align: middle;
  margin-top: 46px;
}

.login, .registration {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
}

.login a {
  padding-left: 18px;
}

.login {
  margin-right: 10px;
  position: relative;
}

.button-link {
  font-size: 21px;
  line-height: 45px;
}

.login a:hover, .registration a:hover {
  color: var(--basic-red);
}

.login a:focus, .registration a:focus {
  color: var(--grey);
}

.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0;
  padding: 0;

}
/*.navigation li {
  display: inline-block;
}*/

.navigation a {
  color: var(--basic-white);
  font-style: normal;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.nav-item :hover {
  background-color: var(--background-blue);
  background-size: 60px 120px;
}

.nav-item :focus {
  background-color: var(--darkest-blue);
  opacity: 0.5;
}

/*Цветное меню*/
.main-menu {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.menu{
  list-style-type: none;
  padding: 0 0;
  margin: 59px auto;
}

.menu li {
  padding: 0;
  margin: 0 0;
}

.menu-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 14px;
  color: var(--basic-white);
  position: relative;
}

.menu-link {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--transparent-white-3);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 135px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-link:hover {
  background-color: var(--transparent-grey);
}

.menu-link:focus {
  background-color: var(--transparent-light-dark-grey);
}

.red-button {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 192px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-button:hover {
  background-color: var(--dark-red);
}

.red-button:focus {
  background-color: var(--darkest-red);
}

.slider-heading {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 23px;
}

.slider-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 5px;
}

.slider a {
  margin-bottom: 27px;
}

.slider div, .slider a {
  margin-left: 25px;
}

.menu-materials {
  background-color: var(--basic-orange);
  height: 123px;
  width: 300px;
}

.menu-instruments {
  background-color: var(--very-light-blue);
  height: 123px;
  width: 300px;
}

.menu-vehicles {
  background-color: var(--basic-pink);
  height: 123px;
  width: 300px;
}

.menu-discounts {
  background-color: var(--light-green);
  height: 123px;
  width: 300px;
}

.menu-delivery {
  background-color: var(--light-orange);
  height: 123px;
  width: 300px;
}

/*Популрярные товары*/
h2 {
  color: var(--background-lighter-blue);
}

.popular-menu {
  background-color: var(--milk-white);
  text-transform: uppercase;
}

.popular-menu a {
  margin-right: 14px;
}

.popular-menu h2 {
  margin-left: 28px;
}

.popular-items li, .catalog-products li {
  list-style-type: none;
}

.popular-items h3, .popular-items p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.main-popular {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.item {
  height: 318px;
  width: 220px;
  outline: 1px solid var(--white-grey);
  outline-offset: -1px;
  margin: 0 0;
}

.item:hover {
  box-shadow:0 0 15px -10px var(--basic-black);
}

.item .crossed {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--light-dark-grey);
  text-decoration: line-through;
  text-align: center;
  margin-bottom: 12px;
}

.price-bordered {
  text-align: center;
  display: flex;
  align-items: center;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  position: relative;
  color: var(--basic-white);
  background-color: var(--basic-red);
  height: 38px;
  width: 123px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0;
  padding-left: 32px;
  margin-left: -5px;
  margin-bottom: 21px;
}

.perforator {
  margin-bottom: 22px;
}

.perforator-3000{
  margin-bottom: 30px;
  margin-left: -16px;
}

li .item-name {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.item-second .item-name {
  margin-right: 3px;
}

.item-third .item-name {
}

.item-last .item-name {
  margin-bottom: 38px;
}

/*Популярные производители*/
.brands-menu {
  background-color: var(--milk-white);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-menu a {
  margin-right: 19px;
  margin-bottom: 2px;
}

.brands-menu h2 {
  margin-left: 28px;
}

.brands li {
  list-style-type: none;
}

.brand {
  margin: 0;
  padding: 0 0;
  max-width: max-content;
}

.brand img:hover {
  box-shadow:0 0 15px -10px var(--basic-black);
}

.brand a:focus {
  opacity: 0.5;
}

.brands {
  margin: 0 auto;
  padding: 0 0;

}
/*Cервисы*/
.services {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-font {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 62px;
  margin-bottom: 25px;
}

.services-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  height: 49px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;
}

h4 {
  color: var(--background-lighter-blue);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.services-slider-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: max-content;
  margin-left: 30px;
  margin-top: 30px;
}

.services-buttons {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--background-lighter-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 62px;
  bottom: 3px;
}

.button-credit {
  position: relative;
  right: 68px;
  bottom: 4px;
}

.button-delivery {
  position: relative;
  bottom: 4px;
  right: 59px;
}

.button-guarantee {
  position: relative;
  bottom: 3px;
  right: 59px;
}

.services-buttons:hover {
  background-color: var(--background-blue);
}

.services-buttons:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
  border: none;
}

/*О компании*/
.about-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.about-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-right: 20px;
}

.about-text-top, .about-text-bottom {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.about-text-top {
  margin-bottom: 25px;
}

.about-text-bottom {
  margin-bottom: 3px;
}

.delivery-list {
  list-style-type: none;
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.delivery-list-item {
  margin-bottom: 11px;
  padding-left: 36px;
  position: relative;
}

.delivery-list-item:last-child {
  margin-bottom: 0;
}

.delivery-links {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.red-button-about {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 220px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.red-button-contact-us {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-left: 160px;
}

.map-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  margin-left: 35px;
}

.about-map-link {
  width: 300px;
  height: 158px;
  margin-top: 32px;
  margin-left: 160px;
  margin-bottom: 7px;
}

.about-map {
  height: 158px;
  width: 300px;
}

/*Подвал*/
.footer-info {
  color: var(--basic-white);
}

.footer-text, .footer-text a {
  color: var(--light-blue-grey);
}

.footer-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 20px;
  margin-left: 2px;
}


.telephone-bottom a {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu li {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: inline;
}

.footer-menu li:nth-child(1){
  margin-left: 17px;
}

.footer-menu li:nth-child(2) {
  margin-left: 59px;
}

.footer-menu li:nth-child(3) {
  margin-left: 58px;
}

.footer-menu li:nth-child(4) {
  margin-left: 60px;
}

.footer-menu li:nth-child(5) {
  margin-left: 58px;
}

.footer-menu li:nth-child(6) {
  margin-top: 15px;
  margin-left: 40px;
}

.footer-menu li:nth-child(7) {
  margin-top: 15px;
  margin-left: 59px;
}

.footer-menu li:nth-child(8) {
  margin-top: 15px;
  margin-left: 60px;
}

.footer-menu li:nth-child(9) {
  margin-top: 15px;
  margin-left: 59px;
}

.navigation-norm a {
  color: var(--blue-grey);
}

.navigation-yellow a {
  color: var(--very-light-orange);
}

.navigation-norm a:hover, .navigation-yellow a:hover {
  text-decoration: underline;
}

.navigation-norm a:focus, .navigation-yellow a:focus {
  opacity: 0.5;
  text-decoration: none;
}
.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.social-media-container {
  display: flex;
  margin-left: 40px;
  margin-top: 5px;
}

.social-media {
  background: linear-gradient(0deg, var(--dark-background-blue), var(--dark-background-blue));
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-media:focus {
  background: var(--basic-red);
}

.social-media:hover {
  background: var(--basic-red);
}

/*Нижний подвал*/
.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-heading {
  margin-block-start: 0;
}

.copyright-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-block-start: 0;
  margin-top: 2px;
}

.footer-copyright a {
  color: var(--very-light-orange);
}

.footer-small {
  margin-block-end: 0;
  margin-block-start: 0;
}

.footer-small-right {
  margin-left: 51px;
}

.footer-small a:hover {
  text-decoration: underline;
}

.footer-small a:focus {
  text-decoration: none;
  color: var(--basic-red);
}



/*Каталог*/
.cart-catalog {
  background-color: var(--basic-red);
  padding-left: 36px;
  padding-right: 21px;
}

.marks-catalog {
  padding-right: 37px;
}

.cart-header .cart-catalog:hover {
  background-color:  var(--dark-red);
}

.cart-header .cart-catalog:focus {
  background-color: var(--darkest-red);
}

.log-out {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
  margin: 0;
}

.user-menu {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
  margin-left: 60px;
}
.user-menu a:first-child {
  padding-right: 28px;
}

.user-name {
  position: relative;
}

.user-name:focus {
  color: var(--grey);
}

.user-menu-link:focus {
  color: var(--grey);
}

.user-menu-link:hover {
  color: var(--basic-red);
}

div .name {
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  height: 45px;
  width: 299px;
}

.catalog-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  padding: 10px;
}

.catalog-header-link:hover {
  color: var(--basic-red);
}

.catalog-header-link:focus, .name:focus {
  color: var(--grey);
}

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 18px;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb-item {
  margin-right: 41px;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--basic-black);
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumb-item:nth-child(3) {
  margin-right: 32px;
}

.house-icon {
  height: 16px;
  width: 14px;
}

/*Фильтры*/
.catalog-heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.catalog-top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light-beige);
  height: 38px;
  width: 700px;
}

.sort-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sort-list .sort-name {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
}

.sort-name:first-child {
  margin-right: 137px;
  margin-left: 20px;
}

.sort-name:nth-child(2) {
  margin-right: 67px;
}

.sort-name:nth-child(3) {
  margin-right: 62px;
}

.sort-name:nth-child(4) {
  margin-right: 42px;
}

.sort-name:nth-child(5) {
  margin-right: 18px;
}
.filter-left, .filter-right {
  width: 11px;
  height: 10px;
}

.sort-button, .sort-button-updown {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--transparent-black);
  border-bottom: 1px dotted var(--basic-red);
  padding: 0;
}
.sort-button-updown {
  border: none;
}

.sort-button:hover, .sort-button:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  text-decoration: none;
}

.sort-button:focus, .sort-button:focus {
color: var(--basic-red);
  border-bottom: none;
}

/*Фильтры*/
.filters-list {
  padding: 0;
  margin: 0;
}

.filters-list li {
  list-style-type: none;
}

.filter-price, .filter-brand, .filter-type {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

/*.filter-price {*/
/*  padding-bottom: 180px;*/
/*}*/

.filter-brand {
  border-top: 1px solid black;
  margin-top: 26px;
  padding-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid black;
}

.filter-types {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

.filter-types div:first-child {
  margin-top: 21px;
}

.filter-types div:last-child {
  margin-top: 10px;
  margin-bottom: 30px;
}

.filter-heading-left {
  background-color: var(--light-beige);
  width: 220px;
  height: 38px;
  margin-bottom: 14px;
}
.filter-heading-text {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-left: 18px;
  text-transform: uppercase;
}

.filter-button {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  height: 38px;
  width: 220px;
  text-transform: uppercase;
  border: 1px solid var(--very-light-grey);
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  padding-top: 29px;
  padding-inline-start: 0;
}

/*Номера страниц*/
.number-container{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  display: inline-block;
  outline: 1px solid var(--very-light-grey);
  outline-offset: -1px;
  margin-right: 10px;

}
.page-numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 59px;
}

.normal-button, .active-button {
  height: 38px;
  width: 38px;
}

.normal-button {
  background-color: var(--basic-white);
}

.active-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.next-button {
  height: 38px;
  width: 140px;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.normal-button:hover, .active-button:hover, .next-button:hover {
  border-color: var(--grey);
}
.normal-button:focus, .active-button:focus, .next-button:focus {
  border: 1px solid var(--basic-red);
}

.basic-type, .next-page {
  color: var(--basic-black);
}

/*О перфораторах*/
.about-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
}
.about-heading {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 65px;
}
/*Декорации*/

.perforator-2000 {
  height: 112px;
  width: 127px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.perforator-6000 {
  height: 128px;
  width: 144px;
  margin-right: 10px;
}

.perforator-3000 {
  height: 112px;
  width: 127px;
  margin-right: -3px;
  margin-bottom: 25px;
}

.perforator-9000 {
  height: 164px;
  width: 184px;
}

.logo-header {
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/red-container-logo.png");
  height: 47px;
  width: 220px;
  text-align: center;
}

.logo-picture-footer {
  height: 68px;
  width: 220px;
}

.logo-picture-text {
  width: 108px;
}

.brand-img {
  height: 145px;
  width: 220px;
}

/*Гриды флексы для основной страницы*/

.header-top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;
}

.header-links {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;

}

.header-top-text {
  display: flex;
}

.header-top-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.header-bar {
  background-color: var(--background-blue);
  height: 42px;
}

.main-nav-wrapper {
  grid-column: 1 / 3;
}


.main-nav ul {
}

.nav-link{
  display: block;
  padding: 17px 28px 19px;
  text-align: center;
}

.main-nav {
  background-color: var(--background-lighter-blue);
  width: 940px;
}

.header-middle-bar {
  background-color: var(--light-blue-grey);
  height: 278px;
}

.header-middle-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 60px;
  row-gap: 40px;
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

/*Гриды и флексы для мейнов*/

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 0;
  padding: 0;
}

li .buttons-slider-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.slider-button-right {
  transform: rotate(180deg);
  background: none;
  border: none;
}

.slider-button-right img {
  margin-top: 13px;
  margin-left: 14px;
}

.slider-button-left {
  background: none;
  border: none;
}

.popular {
  display: grid;
  width: 940px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 43px;
  padding: 0;
  grid-template-rows: 89px 1fr;
  gap: 20px;

}

.popular-menu {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}

.popular-items {
  padding: 0;
  display: flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 18px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}


.item-first {
  grid-column: 1 / 2;
}

.item-second {
  grid-column: 2 / 3;
}

.item-third {
  grid-column: 3 / 4;
}

.popular-brands {
  display: grid;
  width: 940px;
  margin: auto;
  padding: 0;
  grid-template-rows: 89px 1fr;
  gap: 20px;
}

.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 12px;
}
.brand a {
  line-height: 0;
  font-size: 0;
  font-weight: 0;
}
/*Сервисы*/

.services-bar {
  background-color: var(--blue-grey);
  height: 522px;
}

.services-wrapper {
  display: grid;
  width: 940px;
  margin: 61px auto;
  grid-template-columns: 0.2fr 1fr;
  row-gap: 20px;
  column-gap: 50px;
  padding-bottom: 100px;
}

.services-header{
  grid-column: 1 / 3;
}

.services-buttons-container {
  position: relative;
  display: flex;
  width: min-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column: 1 / 2 ;
  grid-row: 2 / 3;
}

.services-description-text {
  width: 300px;
  height: 99px;
}

.services-car {
  text-align: right;
height: min-content;
}

.services-description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/*О компании*/

.about-company {
  width: 940px;
  height: 495px;
  display: grid;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-right {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-left {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*Подвал*/


.footer-info-bar {
  background-color: var(--background-lighter-blue);
  height: 193px;
}

.footer-info-left {
  display: flex;
  flex-wrap: wrap;
}

.footer-info-right {
  display: flex;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-top: 38px;
  padding-inline-start: 0;
  justify-content: flex-start;
  padding: 0;
  margin-block-end: 0;
}


.footer-info-wrapper {
  display: grid;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}

.copyright-bar {
  background-color: var(--background-blue);
  height: 107px;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyright-contacts {
  display: flex;
  margin-right: 14px;
}

.copyright-left {
  margin: 0;
}

.copyright-left p {
  margin: 0;
}

.menu-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}

.menu-box h2, .menu-box a {
  margin-left: 22px;
}

.perf-slider {
  visibility: visible;
  background-image: url("../img/slider-worker.jpg");
  background-repeat: no-repeat;
  height: 266px;
  width: 620px;
}

.drill-slider {
  visibility: hidden;
  background-image: url("../img/drill-worker.jpg");
  background-repeat: no-repeat;
  height: 266px;
  width: 620px;
}

/*Декорации*/
.marks::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-bookmark.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 19px;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 26px;
  opacity: 0.3;
}

.cart-catalog::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 13px;
  opacity: 0.3;
}


.cart:hover::before, .marks:hover::before {
  opacity: 1;
}

.cart:focus::before, .marks:focus::before {
  opacity: 0.5;
}

.tel::before {
  content: "";
  height: 18.97px;
  width: 17.51px;
  top: 7px;
  left: -35px;
  position: absolute;
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-login::before{
  content: "";
  position: absolute;
  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 19px;
  height: 17px;
  top: 14px;
  left: 20px;
  opacity: 0.4;
}

.button-login:hover::before {
  opacity: 1;
}

.button-login:focus::before {
  opacity: 0.4;
}

.instruments::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-instruments.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 75px;
  height: 65px;
  top: -30px;
  left: 170px;
}

.materials::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-materials.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 44px;
  height: 65px;
  top: -35px;
  left: 190px;
}

.vehicles::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-vehicles.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 78px;
  height: 65px;
  top: -35px;
  left: 170px;
}

.discounts::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-discounts.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 59px;
  height: 72px;
  top: -40px;
  left: 175px;
}

.delivery::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 78px;
  height: 65px;
  top: -35px;
  left: 170px;
}

.service-guarantee {
  visibility: hidden;
}

.service-credit {
  visibility: hidden;
}

.service-delivery {
  visibility: visible;
}

.red-button-credit {
  border-radius: 5px;
}

.services-heading {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 30px;
}

.delivery-heading::before {
  content: "";
  position: absolute;
  background-image: url("../img/delivery-car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 468px;
  height: 261px;
  left: 181px;
  top: 20px;
}

.guarantee-heading::before {
  content: "";
  position: absolute;
  background-image: url("../img/guarant-medal.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 468px;
  height: 261px;
  left: 290px;
}

.service-credit::before {
  content: "";
  position: absolute;
  background-image: url("../img/credit-money.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 468px;
  height: 261px;
  left: 200px;
}

.price-bordered::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border: 19px solid var(--basic-red);
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.services-buttons-container::after{
  content: "";
  position: absolute;
  background-image: url("../img/services-side-line.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  bottom: -44px;
}

.img-item {
  height: 164px;
  width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-list-item {
  background-image: url("../img/red-line.png");
  background-repeat: no-repeat;
  background-position: 0px 11px;
}

/*Гриды для каталога*/

.catalog-container {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.breadcrumb {
  grid-column: 1 / -1;
}

.catalog-heading-container {
  grid-column: 1 / -1;
}

.catalog-top{
  grid-column: 2 / 3;
}

.about-items-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  width: 940px;
  margin: 0 auto;
}

.about-bar {
  background-color: var(--blue-grey);
  height: 261px;
}

.catalog-heading-container {
  background-color: var(--light-blue-grey);
  height: 89px;
  width: 940px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filters {
  grid-row: 3 / 5;
}

.page-numbers-container {
  grid-column: 2 / 3;
}

.header-account-buttons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.log-out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
  margin-left: 15px;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Декорации каталога*/

.breadcrumb-item:nth-child(1)::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-breadcrumbs.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 14px;
  width: 7px;
  left: 28px;
  top: 3px
}

.breadcrumb-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-breadcrumbs.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 14px;
  width: 7px;
  left: 69px;
  top: 1px
}

.breadcrumb-item:nth-child(3)::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-breadcrumbs.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 14px;
  width: 7px;
  left: 96px;
  top: 1px
}

.user-name::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-user.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 18px;
  width: 20px;
  left: -40px;
  opacity: 0.4;
}

.user-name::after {
  content: "";
  color: var(--grey);
  position: absolute;
  background-image: url("../img/icon-logout.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 17px;
  width: 20px;
  right: -40px;
  opacity: 0.4;
}

.user-name:hover::before, .user-name:hover::after {
  opacity: 1;
}

.user-name:focus::before, .user-name:focus::after {
  opacity: 0.4;
}

.new::after {
  content: "new";
  position: absolute;
  right: -51px;
  top: -22px;
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  transform-origin: 0 0;
  transform: rotate(45deg);
  text-align: center;
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-big::after {
  content: "new";
  position: absolute;
  right: -51px;
  top: -23px;
  /*right: -216px;*/
  /*top: -44px;*/
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  transform-origin: 0 0;
  transform: rotate(45deg);
  text-align: center;
  color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Модальные окна главная страница*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}

.write-us {
  /*display: none;*/
  height: 423px;
  width: 620px;
  border-top: 7px solid var(--basic-red);
  box-shadow:0 0 15px -10px var(--basic-black);
  top: 420px;
  bottom: auto;
  right: 15px;
}

.write-us-form {
  background-color: var(--basic-white);
  height: 311px;
  position: relative;
}
.write-us .modal-close {
  left: 584px;
  top: 11px;
}

.write-us-footer {
  height: 112px;
  background-color: var(--lighter-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-red-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 460px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.send-button-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 0;
  left: 906px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 2px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  height: 442px;
  width: 943px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  top: 250px;
  right: 15px;
}

.map-container {
  position: relative;
}

.modal-map iframe {
  border: none;
}

.item-hoover-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 55px;
  right: 3px;
}

.to-basket {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 135px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -3px 0px var(--green-shadow);
  border-radius: 2px;
  margin-bottom: 10px;
  position: relative;
}

.to-basket-text {
  margin-left: 15px;
}

.to-basket:hover {
  background-color:  var(--dark-green);
}

.to-basket:focus {
  background-color: var(--darkest-green);
}

.mark {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--background-lighter-blue);
  text-transform: uppercase;
  height: 33px;
  width: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.mark:hover {
  border: 3px solid var(--background-lighter-blue);
  border-radius: 2px;
}

.mark:focus {
  border: 3px solid var(--background-lighter-blue);
  border-radius: 2px;
  opacity: 0.5;
}

.to-basket::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cart.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  left: 30px;
  top: 10px;
  opacity: 0.4;
}

/*Модальное окно каталог*/
.modal-basket {
  position: fixed;
  top: 300px;
  right: 0;
  left: 33px;
  bottom: 0;
  margin: 0 auto;
  width: 620px;
  height: 275px;
  border-top: 7px solid var(--basic-red);
  box-shadow:0 0 15px -10px var(--basic-black);
}

.basket-buttons {
  height: 112px;
  width: 620px;
  background-color: var(--lighter-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-basket-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-white);
  width: 620px;
  height: 163px;
}

.basket-text {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}

.basket-text::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-mark.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 66px;
  width: 66px;
  right: 295px;
  bottom: -15px;
}

.modal-basket .modal-close {
  left: 583px;
  top: 10px;
}

.basket-button {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 192px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.basket-buttons-confirm {
  background-color: var(--basic-red);
  margin-left: 115px;
}

.basket-buttons-continue {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
  margin-left: 10px;
}

/*Формы для главной страницы*/

.form-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*margin-top: 40px;*/
  /*margin-left: 80px;*/
}

.form-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 21px;
  /*margin-top: 40px;*/

}

.form-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 12px;
}

#user-name, #user-email {
  width: 216px;
  height: 36px;
  border: 2px solid var(--grey);
  border-radius: 2px;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--light-dark-grey);
  padding: 0;
  margin: 0;
}

#user-text {
  width: 458px;
  height: 110px;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--light-dark-grey);
  border: 2px solid var(--grey);
  border-radius: 2px;
  resize: none;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  margin-top: 10px;
}

.user-name-field, .user-text-field, .user-email-field {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.user-text-field {
  margin-left: 80px;
}

.user-name-field {
  margin-bottom: 10px;
}

.user-email-field {
  margin-bottom: 10px;
}

.form-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 80px;
}

.visual-hidden {
  display: none;
}

/*Фильтры для каталога*/
.manufacturer-filter {
  display: flex;
  flex-direction: column;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.manufacturer-filter label {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-top: 6px;
}

.manufacturer-filter div:first-child {
  margin-top: 10px;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  background-image: url("../img/checkbox-off.png");
  width: 27px;
  height: 23px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.custom-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.png");
  width: 27px;
  height: 23px;
  margin-right: 10px;
}

.filter-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  background-image: url("../img/radio-off.png");
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.custom-radio:checked+label::before {
background-image: url("../img/radio-on.png");
  margin-right: 10px;
}


/*Ползунок*/
.range-controls .scale {
  height: 2px;
  background: var(--medium-grey);
}

.range-controls {
  position: relative;
  height: 41px;
  width: 180px;
  margin-bottom: 9px;
  padding-top: 50px;
  background-color: var(--light-beige);
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .bar {
  height: 2px;
  background: var(--bright-green);
}

.range-controls .toggle {
  position: absolute;
  top: 40px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--dark-grey);
  border-radius: 50%;
  box-shadow: 0 2px 0px 0 var(--dark-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 95px;
  height: 38px;
  padding: 0;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--light-beige);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls span {
  margin-left: 4px;
}

#max-price {
  margin-left: 4px;
}

#search-line {
  line-height: 42px;
  width: 271px;
  padding: 0;
  margin: 0;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 41px;
  background-image: url("../img/icon-search-click.png");
  background-repeat: no-repeat;
  background-position: 17px 13px;
}

#search-line:hover{
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: 17px 13px;
  opacity: 1;
}

#search-line:focus{
  background-color: white;
  color: black;
  background-image: url("../img/icon-search-red.png");
  background-repeat: no-repeat;
  background-position: 17px 13px;
}

#search-line:focus::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

#search-line:active {
  background-image: url("../img/icon-search-click.png");
  background-repeat: no-repeat;
  background-position: 17px 13px;;
  background-color: transparent;
}

#search-line:active::placeholder {
  color: var(--basic-white);
  opacity: 0.3;
}

#search-line::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
