/*Colors*/
:root {
  /*Basic colors*/
  --basic-black: #000000;
  --background-blue: #293449;
  --basic-white: #FFFFFF;
  --basic-red: #EE3643;
  --red-shadow: rgba(0, 0, 0, 0.24);
  --basic-green: #63A63E;
  --background-lighter-blue: #32425C;
  --light-grey: rgba(0, 0, 0, 0.0001);
  --lighter-blue-shadow: #293449;
  --basic-orange: #FFBF47;
  --very-light-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --light-green: #8ED78F;
  --light-orange: #FFC047;
  --white-background: rgba(0, 0, 0, 0.0001);
  --milk-white: #F9F5F0;
  --blue-grey: #F1F5F7;
  --very-light-orange: #FFD180;
  --grey: #C5C5C5;
  --medium-grey: #D7DCDE;
  --dark-grey: #ABABAB;
  --light-beige: #F7F3EC;
  --light-blue-grey: #F3F7F9;
  --lighter-blue-grey: #F2F6F8;
  --green-shadow: #367315;
  --very-light-grey: #E5E5E5;
  /*Special colors*/
  --dark-green: #5FBB2D;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --darker-blue: #161D29;
  --darker-grey: #3D546F;
  --dark-blue: #293449;
  --darkest-blue: #1D2739;
  --light-dark-grey: #A9A9A9;
  --dark-red: #CA2C37;
  --darkest-red: #BA2732;
  --darkest-green: #518534;
  --transparent-grey: rgba(197, 197, 197, 0.3);
  --transparent-light-dark-grey: rgba(169, 169, 169, 0.3);
  --transparent-white-3: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --white-grey: #EAEAEA;
}

body, header, footer {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page {
  height: 100%;
  margin: 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  /*Верх шапки*/
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.header-top {
  color: var(--basic-white);
}

/*Ссылки в шапке*/

.header-links {
  padding-inline-start: 0;

}

.header-links li a {
  display: inline-block;
  line-height: 42px;
  padding: 0 25px;
}

.header-link-comfirm {
  line-height: 42px;
  display: inline-block;
  padding: 0 19px;
}

.search-line {
  margin-right: 203px;
  margin-left: 20px;
}

.header-link {
  color: var(--basic-white);
}

.header-links li {
  list-style-type: none;
  display: inline;
}

.marks-header, .cart-header {
  margin: 0 15px;
}

 .cart-header a:focus,.marks-header a:focus {
  background-color: var(--darker-blue);
  color: var(--transparent-white);
}
.cart-header a:hover,.marks-header a:hover{
  background-color: var(--darkest-blue);
}
.confirm:hover {
  background-color: var(--dark-green);
}

.confirm:focus {
  background-color: var(--basic-green);
  color: var(--transparent-white);

}

.confirm {
  background-color: var(--basic-green);
}

/*Средняя часть шапки*/

.header-middle a {
  color: var(--basic-black);
}

.header-middle ul {
  list-style-type: none;
}

.header-description {
  font-style: italic;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  height: 71px;
  width: 197px;
  margin: 0;
  margin-left: 30px;
  margin-top: 42.5px;
}

.header-info {
  color: var(--background-lighter-blue);
  font-size: 14px;
  margin-block-start: 0;
}

.header-tel a {
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-tel {
 border: 3px solid var(--basic-white);
  padding: 8px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 46px;
}

.login, .registration {
  background-color: var(--basic-white);
  height: 45px;
  width: 121px;
  vertical-align: middle;
  margin-top: 46px;
}

.login, .registration {
  vertical-align: middle;
  text-align: center;
}

.login {
  margin-right: 10px;
}

.button-link {
  font-size: 21px;
  line-height: 45px;
}

.login a:hover, .registration a:hover {
  color: var(--basic-red);
}

.login a:focus, .registration a:focus {
  color: var(--grey);
}


/*Главная навигация*/
/*nav.main-nav {
  background-color: var(--background-lighter-blue);
  height: 60px;
  width: 940px;
}*/
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  column-gap: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.nav-item {
  margin: 0;
  padding: 0;

}
/*.navigation li {
  display: inline-block;
}*/

.navigation a {
  color: var(--basic-white);
  font-style: normal;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.nav-item :hover {
  background-color: var(--background-blue);
  background-size: 60px 120px;
}

.nav-item :focus {
  background-color: var(--darkest-blue);
  opacity: 0.5;
}

/*Цветное меню*/
.main-menu {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.menu{
  list-style-type: none;
  padding: 0 0;
  margin: 59px auto;
}

.menu li {
  padding: 0 0;
  margin: 0 0;

}

.menu-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}
.menu-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--transparent-white-3);
  color: var(--basic-white);
}

.menu-link:hover {
  background-color: var(--transparent-grey);
}

.menu-link:focus {
  background-color: var(--transparent-light-dark-grey);
}


.red-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  height: 38px;
  width: 192px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-button:hover {
  background-color: var(--dark-red);
}

.red-button:focus {
  background-color: var(--darkest-red);
}

.menu-materials {
  background-color: var(--basic-orange);
  height: 123px;
  width: 300px;
}

.menu-instruments {
  background-color: var(--very-light-blue);
  height: 123px;
  width: 300px;
}

.menu-vehicles {
  background-color: var(--basic-pink);
  height: 123px;
  width: 300px;
}

.menu-discounts {
  background-color: var(--light-green);
  height: 123px;
  width: 300px;
}

.menu-delivery {
  background-color: var(--light-orange);
  height: 123px;
  width: 300px;
}

/*Популрярные товары*/
h2 {
  color: var(--background-lighter-blue);
}

.popular-menu {
  background-color: var(--milk-white);
  text-transform: uppercase;
}

.popular-menu a {
  margin-right: 14px;
}

.popular-menu h2 {
  margin-left: 28px;
}

.popular-items li, .catalog-products li {
  list-style-type: none;

}

.item {
  height: 318px;
  width: 220px;
  border: 1px solid;
  border-color: var(--white-grey);
  margin: 0 0;

}

.crossed {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--light-dark-grey);
  text-decoration: line-through;
}

.price-bordered {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

/*Популярные производители*/
.brands-menu {
  background-color: var(--milk-white);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-menu a {
  margin-right: 19px;
}

.brands-menu h2 {
  margin-left: 28px;
}

.brands li {
  list-style-type: none;
}

.brand {
  margin: 0;
  padding: 0 0;
  max-width: max-content;
}
.brands {
  margin: 0 auto;
  padding: 0 0;

}
/*Cервисы*/
.services {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-font {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  height: 49px;
}

h4 {
  color: var(--background-lighter-blue);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.services-slider-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-buttons {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--background-lighter-blue);
  height: 61px;
  width: 240px;
}

.services-buttons:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*О компании*/
.about-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.about-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-list {
  list-style-type: none;
  padding: 0;
}



.delivery-links {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.map-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

/*Подвал*/
.footer-info {
  color: var(--basic-white);
}

.footer-text, .footer-text a {
  color: var(--light-blue-grey);
}

.footer-text {
  margin-block-end: 0;
  margin-block-start: 0;
}

.telephone-bottom a {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu {
  padding: 0;
  margin-block-end: 0;
}

.footer-menu li {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  display: inline;
}

.navigation-norm a {
  color: var(--blue-grey);
}

.navigation-yellow a {
  color: var(--very-light-orange);
}

.navigation-norm a:hover, .navigation-yellow a:hover {
  text-decoration: underline;
}

.navigation-norm a:focus, .navigation-yellow a:focus {
  opacity: 0.5;
  text-decoration: none;
}
.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.social-media {
  display: inline-block;
}

/*Нижний подвал*/
.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-heading {
  margin-block-start: 0;
}

.copyright-text {
  margin-block-start: 0;
}

.footer-copyright a {
  color: var(--very-light-orange);
}

.footer-small {
  margin-block-end: 0;
  margin-block-start: 0;
}

.footer-small-right {
  margin-left: 51px;
}

.footer-small a:hover {
  text-decoration: underline;
}

.footer-small a:focus {
  text-decoration: none;
  color: var(--basic-red);
}

/*Каталог*/

div .name {
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  height: 45px;
  width: 299px;
}

.catalog-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  padding: 10px;
}

.catalog-header-link:hover {
  color: var(--basic-red);
}

.catalog-header-link:focus, .name:focus {
  color: var(--grey);
}

.breadcrumb {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
}

.breadcrumb li {
  display: inline-block;
  margin: 5px;
}

/*Фильтры*/
.catalog-heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--light-blue-grey);
  height: 89px;
  width: 940px;
}

.catalog-top{
  background-color: var(--light-beige);
  height: 38px;
  width: 700px;
}

.sort-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.sort-list .sort-name {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
}

.sort-button, .sort-button-updown {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--transparent-black);
  border-bottom: 1px dotted var(--basic-red);
}
.sort-button-updown {
  border: none;
}

.sort-button-updown:hover, .sort-button:hover, .sort-button:hover{
  color: var(--basic-black);
  text-decoration: none;
}

.sort-button-updown:focus, .sort-button:focus, .sort-button:focus {
color: var(--basic-red);
}

/*Фильтры*/
.filters-list li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
  text-transform: uppercase;
}
.filter-price, .filter-brand, .filter-type {
 font-weight: bold;
}

.filter-heading {
  background-color: var(--light-beige);
  width: 220px;
}

.filter-button {
  background-color: transparent;
  height: 38px;
  width: 220px;
  text-transform: uppercase;
}

/*Номера страниц*/
.page-numbers li {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  display: inline-block;
  border: 1px solid var(--very-light-grey);
}

.normal-button, .active-button {
  height: 38px;
  width: 38px;
}

.normal-button {
  background-color: var(--basic-white);
}

.active-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.next-button {
  height: 38px;
  width: 140px;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.normal-button:hover, .active-button:hover, .next-button:hover {
  border-color: var(--grey);
}
.normal-button:focus, .active-button:focus, .next-button:focus {
  border: 1px solid var(--basic-red);
}

.basic-type, .next-page {
  color: var(--basic-black);
}

/*О перфораторах*/
.about-items {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--blue-grey);
  height: 261px;
  width: 1200px;
}
.about-heading {
  text-transform: uppercase;
  font-weight: normal;
}
/*Декорации*/

.perforator-2000 {
  height: 112px;
  width: 127px;
}

.perforator-6000 {
  height: 128px;
  width: 144px;
}

.perforator-3000 {
  height: 112px;
  width: 127px;
}

.perforator-9000 {
  height: 164px;
  width: 184px;
}

.logo-header {
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/red-container-logo.png");
  height: 47px;
  width: 220px;
  text-align: center;
}

.logo-container img {
  padding-bottom: 10px;
}

.logo-picture-footer {
  height: 68px;
  width: 220px;
}

.logo-picture-text {
  width: 108px;
}

.brand-img {
  height: 145px;
  width: 220px;
}

/*Гриды флексы для основной страницы*/

.header-top-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-links {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  height: 42px;
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;

}

.header-top-text {
  display: flex;
}

.header-top-info {
  text-align: center;
}

.header-bar {
  background-color: var(--background-blue);
  height: 42px;
}

/*.main-nav-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--background-lighter-blue);
  margin: 0 auto;
  padding: 0;
  width: 940px;
}*/

.special{
  padding: 0 10px;
}

.main-nav ul {
  padding: 0 20px;
}

.nav-link{
  display: inline-block;
  width: 100%;
  line-height: 60px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: var(--background-lighter-blue);
  width: 940px;
}

.header-middle-bar {
  background-color: var(--light-blue-grey);
}

.header-middle-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr 60px 60px;
  gap: 20px;
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/*Гриды и флексы для мейнов*/

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px;
  margin-bottom: 0;
  padding: 0;
}

.buttons-slider-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 90px;
}

.slider {
grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.popular {
  display: grid;
  width: 940px;
  margin: 59px auto;
  padding: 0;
  grid-template-rows: 89px 1fr;
  gap: 20px;

}

.popular-menu {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-items {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;

}

.item-first {
  grid-column: 1 / 2;
}

.item-second {
  grid-column: 2 / 3;
}

.item-third {
  grid-column: 3 / 4;
}

.popular-brands {
  display: grid;
  width: 940px;
  margin: auto;
  padding: 0;
  grid-template-rows: 89px 1fr;
  gap: 20px;
}

.brands {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
}

/*Сервисы*/

.services-bar {
  background-color: var(--blue-grey);
}

.services-wrapper {
  display: grid;
  width: 940px;
  margin: 59px auto;
  grid-template-columns: 0.3fr 0.7fr;
  row-gap: 20px;
  column-gap: 50px;
}

.services-header{
  grid-column: 1 / 3;
}


.buttons-container {
  display: inline-block;
  width: min-content;
  margin-top: 40px;
}
.services-buttons-container {
  display: inline-block;
  grid-column: 1 / 2 ;
  grid-row: 2 / 3;
}

.services-description-text {
  width: 300px;
  height: 99px;
}

.services-car {
  text-align: right;
height: min-content;
}

.services-description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*О компании*/

.about-company {
  width: 940px;
  display: grid;
  margin-bottom: 59px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/*Подвал*/


.footer-info-bar {
  background-color: var(--background-lighter-blue);
}

.footer-info-left {
  display: flex;
  flex-wrap: wrap;
}

.footer-info-right {
  display: flex;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-top: 34px;
  padding-inline-start: 0;
  justify-content: space-between;
}


.footer-info-wrapper {
  display: grid;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding-bottom: 54px;
}

.copyright-bar {
  background-color: var(--background-blue);
  height: 107px;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  width: 940px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyright-contacts {
  display: flex;
  justify-content: space-around;
}

.copyright-left {
  margin: 0;
}

.copyright-left p {
  margin: 0;
}

.navigation-yellow, .navigation-norm {
  margin-left: 60px;
}

.navigation-norm:first-child {
  margin-left: 0;
}

.navigation-yellow:nth-child(6) {
  margin-left: 30px;
}

.slider {
  background-image: url("../img/slider-worker.jpg");
  background-repeat: no-repeat;
  height: 266px;
  width: 620px;
}
